/* folha de estilo */


body {
    background-color:#222831;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.principal{
    background-color: #EEEEEE;
    width: 70%; /* largura */
    max-width: 340px;/* largura maxima*/
    height: 501px;
    text-align: center;
    /* centralizando div horizontal */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
}
/* selecionando imagem q esta dentro div foto */
.foto img{
    border-radius: 50%;
    border: 5px #222831 solid;
    margin: 0%;
  
    
}.conteudo{
    margin-top: 30px;
    margin-bottom: 30px;
}
.conteudo h1{
    margin: 0%;
    color: #393939;/* cor da fonte*/
    font-size: 32px;/* tamanho da fonte*/
}
conteudo.h2{
    margin: 0%;
    color: #222831;/* cor da fonte*/
    font-size: 20px;/* tamanho da fonte*/
}  
.conteudo p{
    color: 666666;
}
.menu a{
    background-color: #393939;
    color: #FFFFFF;
    display: block;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;/* retira o sublinhado*/
    border-radius: 3px;
}
/* ao passar o mouse nos links do elemento*/
.menu a:hover{
    background-color: #000000;
}
.rodape{
    margin-top: 20px;
}
.rodape a{
    color: #222831;
}
